@charset "utf-8";

/* 상단공지 */
.closeBox > div{width:auto;margin:0 10px;}
.topInfo .infoList{padding:13px 10px;min-height: 24px;background-size:cover;}
.topInfo .infoList > div{width:auto;}
.topInfo .infoList ul li{float:none;max-width:100%;margin-left:0;}
.topInfo .infoList ul li a{font-size:13px;}


div#divHeader{padding-top:85px;}
.headerTop{height:57px;background:url(../../../../image/ko/local/topBgM.jpg) no-repeat center center;background-size:767px 57px;}
.headerTop .header1{width:auto;height:57px;margin:0 10px;}
#divTopMenu{width:auto;}
#divTopMenu > ul{display:none;}
#divTopMenu .allMenuBtn{width:19px;height:17px;margin-top:19px;background-size:19px 17px;}
.headerBtm{overflow:visible;border-bottom:none;}
.headerBtm > div{width:auto;}
.headerBtm h2.logo{top: -150px;left:10px;width: 83px;height: 68px;}
#globalMenu{margin-top:-128px;margin-right:10px;padding:0;}
#globalMenu > ul{margin-top:0;}
#globalMenu > ul.log > li:first-child{float:left;}
#globalMenu > ul > li.easyView{display:none;}
.headerTop .header1 h1.logo{display:none!important;}
.headerTop .header1 .topSrch{display:none!important;float:left;margin-top:12px;background-size:21px 21px;}
.headerBtm{height:50px;padding:16px 0 22px;}
#divSearch{width:auto;height:43px;margin:0 10px;border:3px solid #2c70c7;}
.search .searchBox input[type="text"]{height:43px;font-size:14px;}
.search .searchBox{padding:0 70px 0 13px;}
.search .searchBtn{width:45px;height:43px;}
.headerTop .topSrchW{height:76px;}
.headerTop .topSrchW.on{top:57px;}
.topSrch form fieldset label{display:none;}
.topSrch form fieldset{width:auto;margin:0 10px 0 0;padding:20px 0;}
.topSrch p.searchBox{padding: 0 108px 0 14px;}
.topSrch .topSrchInput{height:29px;font-size:14px;}
.topSrch .btnInsideSearch{width:70px;padding:5px 0;font-size:13px;top:25px;right:23px;}
.topSrch .close{right:0;top:30px;}
.topSrch .close img{width:11px;height:11px;}

/* 요약정보 */
.divMyMenu .myMenu{top:-73px;z-index:200;}
.myMenu > div{margin-right:0;padding:24px 24px 37px 24px;}
.myMenu .myInfo{float:none;width:auto;margin:0 8px;}
.myMenu ul.myMenuList{float:none;width:auto;margin-top:20px;}
.myMenuList li{width:49%;margin-bottom:10px;}
.myMenuList li:nth-child(2n+1){margin-left:0;}
@media screen and (min-width:320px) and (max-width:565px){
	.myMenuList li{width:48.1%}
}

/* 자동완성 */
.widesrchBtn{right:55px;}
.widesrchLayer{top:46px;left:-3px;}
.widesrchLayer > div{margin-right:41px;}

/* 전체메뉴 */
.wholeMenu{display:block!important;right:-100%;background:none;background:url(../../../../image/ko/local/bgShadow.png) repeat 0 0;}
.wholeMenu > div{width:100%;height:100%;margin:0;padding:0;background-color:#f3f4f4;}
.wholeMenu > div h2{display:none;}
.wholeMenu > div > div{height:100%;margin-top:0;margin-left:0;background-color:#f3f4f4}
.wholeMenu > div > div .mobileTop{display:block;padding:15px 0 17px;color:#fff;font-size:16px;background-color:#035691;}
.wholeMenu > div > div .mobileTop p{display:inline-block;margin:0 12px;padding-left:19px;font-size:12px;background:url(../../../../image/ko/local/welcomeTbg.png) no-repeat left center;background-size:11px 14px;}
.wholeMenu > div > div > ul{position:relative;min-height:610px;background-color: #f3f4f4;overflow:visible;}
.wholeMenu > div > div > ul > li{float:none;width:auto!important;margin:0;}
.wholeMenu > div > div > ul > li > p{width:106px;height:76px;cursor:pointer;}
.wholeMenu > div > div > ul > li.on > p{background-color:#fff!important;}
.wholeMenu > div > div > ul > li.on > p .txt{background-color:#fff!important;}
.wholeMenu > div > div > ul > li > p .txt{height:auto;padding-top:50px!important;line-height:18px;color:#303030!important;font-size:14px;background:none;background-repeat:no-repeat;}
.wholeMenu > div > div > ul > li.wholeMenu1 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco1.png);background-size:39px 22px;background-position:center 15px;}
.wholeMenu > div > div > ul > li.wholeMenu2 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco2.png);background-size:26px 33px;background-position:center 10px;}
.wholeMenu > div > div > ul > li.wholeMenu3 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco3.png);background-size:34px 28px;background-position:center 14px;}
.wholeMenu > div > div > ul > li.wholeMenu4 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco4.png);background-size:34px 28px;background-position:center 10px;}
.wholeMenu > div > div > ul > li.wholeMenu5 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco5.png);background-size:35px 27px;background-position:center 19px;}
.wholeMenu > div > div > ul > li.wholeMenu6 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco6.png);background-size:34px 33px;background-position:center 10px;background-color:#f3f4f4;}
.wholeMenu > div > div > ul > li.wholeMenu7 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco7.png);background-size:32px 31px;background-position:center 13px;background-color:#f3f4f4;}
.wholeMenu > div > div > ul > li.wholeMenu8 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco8.png);background-size:27px 27px;background-position:center 15px;background-color:#f3f4f4;}
.wholeMenu > div > div > ul > li .mobileTxt{display:block;padding:20px 0 10px;color:#2b2b2b;font-size:16px;font-family:NotoSansKRM;border-bottom:2px solid #00538e;}
.wholeMenu > div > div > ul > li > div{display:none;position:absolute;left:106px;top:0;right:0;height:100%;margin:0;padding:0 30px 0 27px;background-color:#fff;z-index:50;}
.wholeMenu > div > div > ul > li > div > ul{border-bottom:1px solid #d7d7d7;}
.wholeMenu > div > div > ul > li.on > div{display:block;}
.wholeMenu .list > ul > li{margin-top:0;border-top:1px solid #dcdcdc;}
.wholeMenu .list > ul > li:first-child{border-top: none;}
.wholeMenu .list > ul > li > ul > li{margin-top:7px;padding-left:0;background:none;}
.wholeMenu .list > ul > li > ul > li:first-child{margin-top:0;}
.wholeMenu .list > ul > li > ul > li > a{font-size:14px;color:#909090;}
.wholeMenu .list > ul > li > ul > li a:hover{text-decoration:none;}
.wholeMenu > div > div > ul > li > div > ul > li > p{position:relative;padding:13px 20px 14px;color:#555!important;font-size:15px;cursor:pointer;}
.wholeMenu > div > div > ul > li > div > ul > li > p .arrow{display:block;position:absolute;right:7px;top:50%;width:6px;height:11px;margin-top:-5px;background-image:url(../../../../image/ko/local/menuArrowSprite.png);background-repeat:no-repeat;background-position:0 0;background-size: 200% auto!important;-webkit-transition:background-position .25s ease-in-out;transition:background-position .25s ease-in-out;}
.wholeMenu > div > div > ul > li > div > ul > li.on > p .arrow{background-position: right 0;-webkit-transition:background-position .25s ease-in-out;transition:background-position .25s ease-in-out;}
.wholeMenu > div > div > ul > li > div > ul > li > ul{display:none;padding:18px 20px 20px;border-top:1px solid #dcdcdc;}
.wholeMenu > div .close{width:15px;height:16px;top:21px;right:13px;background:url(../../../../image/ko/local/menuClose.png) no-repeat 0 0;background-size:15px 16px;}


#divContents{background:none;}
.contents1{border-top:none;}

/* Contents1 */
.contents1 > div{width:auto;margin:0;padding:0;}
.contents1 > div > div{float:none;}
.quickMenu{width:auto;margin:0;}
.quickMenu > ul{width:auto;height:auto;text-align:center;}
.quickMenu > ul li{display:inline-block;float:none;width:32%;margin-left:0;margin-bottom:27px;}
.quickMenu > ul li a .icon{width:auto;height:auto;}
.closedInfo{position:relative;margin-top:7px;background-color:#f7f7f7;border-top:1px solid #d5d5d5;}
.closedInfo > div{margin:0 10px;padding-bottom:19px;}
.closedInfo .divInfo1{position:static;padding-top:20px;}
.closedInfo .divInfo1 .viewCalendar{position:absolute;right:0;top:0;}
.closedInfo .divInfo1 .btnW{width:147px;top:22px;}
.closedInfo .divInfo2{margin:0}
.closedInfo .divInfo2 .markInfo{height:80px;margin-top:15px;}
.closedInfo .divInfo2 .markInfo > ul{height:25px;padding:5px 2px;text-align:center;border-top:1px solid #c6c8ce;border-bottom:1px solid #c6c8ce;font-size:0;}
.closedInfo .divInfo2 .markInfo > ul li{display:inline-block;float:none;width:auto;}
.closedInfo .divInfo2 .markInfo li > a{display:inline-block;min-width:0;padding:0 4px;border:none;text-align:center;font-size:11px;}
.closedInfo .divInfo2 .markInfo ul li > .dateW{top:77px;height:24px;}
.closedInfo .divInfo1 .month{font-size:19px;}
.closedInfo .divInfo2 .markInfo ul li .dateList > ul > li{width:7.1%;margin-right:0;text-align: center;}
.closedInfo .divInfo2 .date{width:24px;height:24px;line-height:24px;font-size:12px;}
.closedInfo .divInfo1 .btnW a{width:10px;height:19px;background-size:10px 19px;}
.closedInfo .moreViewW{display:block;margin:2px 10px 0;}
.closedInfo > div .moreView{font-size:12px;}
.closedInfo .divInfo1 .viewCalendar{width:95px;height:28px;margin-top:26px;font-size:13px;line-height:28px;}
.closedInfo .divInfo2 .markInfo ul li > .dateW > .btn{top:4px}

/* Contents2 */
.contents2 > div{width:auto;margin:0;padding:25px 0 0;}
.book{float:none;width:auto;height:330px;}
.book .bookList{width:auto;height:210px;margin:0 35px;}
.book .bookList ul li{width:12.25%;margin-right:0;}
.book .bookList ul li a{width:105px;}
.book > ul{height:37px;}
.book > ul > li > a{height:38px;padding:0 9px;font-size:16px;}
.book > ul > li > div{height:230px;}
.book > ul > li > div .prev{left:10px;top:70px;width:11px;height:22px;background-size:11px 22px;}
.book > ul > li > div .next{right:10px;top:70px;width:11px;height:22px;background-size:11px 22px;}
.book > ul > li > div .prev:hover{background-image:url(../../../../image/ko/local/main/bookPrev2.png);background-size:11px 22px;}
.book > ul > li > div .next:hover{background-image:url(../../../../image/ko/local/main/bookNext2.png);background-size:11px 22px;}
.book .bookList ul li .bookImg{width:103px;height:146px;}
.book > ul > li > div .moreView{position:static;top:0;width:60px;height:29px;margin:20px auto 0;color:#868686;font-size:12px;text-align:center;line-height:29px;background:none;text-indent:0;background-color:#f9f9f9;}
.popupZone{float:none;width:auto;margin:28px 10px;}
.popupZone ul li a.navi{width:11px;height:11px;}

/* Contents3 */
.contents3{padding:19px 0 22px;}
.contents3 > div{position:relative;width:auto;height:70px;margin:0 10px;}
.contents3 > div > .libService{position:absolute;left:0;top:0;width:200%;height:74px;}
.libService > ul{width:50%;}
.libService > ul.list1{width:50%;padding-top:10px;}
.libService > ul.list2{width:50%;padding-top:5px;}
.libService > ul.list1 li{width:17%;margin:0 3px;background:none;}
.libService > ul.list2{margin-left:0;}
.libService > ul.list2 li{width:23%;min-width:0;margin-left:0;padding:0;}
.libService > ul > li a{font-size:13px;letter-spacing:-1px;line-height:15px;word-break:keep-all;word-wrap:normal}
.libService > ul > li a .empty{display:inline-block;}
.libService > ul.list1 li a > span{display:block;padding-top:40px;background-repeat:no-repeat;background-position:center 0;}
.libService > ul.list1 li.libService1_1 a > span{background-size:35px 25px;}
.libService > ul.list1 li.libService1_2 a > span{background-size:32px 27px;}
.libService > ul.list1 li.libService1_3 a > span{background-size:28px 26px;}
.libService > ul.list1 li.libService1_4 a > span{background-size:34px 27px;}
.libService > ul.list1 li.libService1_5 a > span{background-size:42px 25px;}
.libService > ul.list2 li a > span{display:block;padding-top:52px;background-repeat:no-repeat;background-position:center 0;background-size:46px 46px;}
.contents3 > a{display:block;position:absolute;top:50px;width:9px;height:15px;text-indent:-9999px;background-size:9px 15px;background-repeat:no-repeat;background-position:0 0;z-index:10;}
.contents3 .prev{display:none;left:10px;background-image:url(../../../../image/ko/local/main/servicePrev.png);}
.contents3 .next{display:block;right:10px;background-image:url(../../../../image/ko/local/main/serviceNext.png);}
 @media screen and (min-width:320px) and (max-width:419px){
	.contents3 > div{height:82px;}
 }
/* Contents4 */
.contents4{padding-top:22px;padding-bottom:40px;}
.contents4 > div{width:auto;margin:0 10px;}
.notice{float:none;width:auto;height:310px;}
.notice > ul > li{width:20%;height:38px;padding-bottom:5px;}
.notice > ul > li.on{height:39px;background-size:8px 4px;}
.notice > ul > li > a{height:38px;padding:0 7px;font-size:13px;line-height:38px;letter-spacing:-1px}
.notice > ul > li.on > a{height:39px;}
.notice > ul > li > div{top:62px;}
.notice > ul > li > div > ul > li{margin-top:9px;line-height:15px;}
.notice > ul > li > div > ul > li > a.title{font-size:14px;margin: 0 20px 0 0;}
.notice > ul > li > div > ul > li > .mark{width:48px;height:18px;margin-right:7px;line-height:19px;font-size:10px;}
.notice > ul > li > div > ul > li > .date{display:none;}
.notice .more{display:block;position:static;width:60px;height:29px;margin:22px auto 0;color:#868686;font-size:12px;text-indent:0;background:none;background-color:#f9f9f9;text-align:center;line-height:29px;}
.news{float:none;width:auto;height:auto;margin-top:35px;margin-left:0;}
.news > div{height:100px;background-size:cover;}
.news .news2{margin-top:12px;}
.news .news1 p{padding: 37px 15px;}
.news .news2 p{padding: 37px 15px;}
.news .news1 p span{font-size:17px;}
.news .news2 p span{font-size:17px;}
.news .news1 p .sTxt{font-size:12px;}
.news .news2 p .sTxt{font-size:12px;}
@media screen and (min-width:320px) and (max-width:370px){
	.notice > ul > li > a{padding:0 4px;font-size:12px;}
}

/* Contents5 */
.slick-slide {margin:0 16px;}
.contents5{height:418px;padding-top:43px;}
.cultureProgram{height:418px;}
.contents5 > div{width:auto;margin:0;}
.programList{height:293px;margin-top:45px;}
.cultureProgram .titW h2{font-size:21px;}
.cultureProgram .titW .smallT{font-size:12px;}
.programList .divList{height:290px;}
.programList .divList .tit{max-height:44px;font-size:14px;}
.programList .divList .imgW{height:165px;overflow:hidden;}
.programList .divList .imgW img{min-height:165px;}
.programList .divList .infoT{padding:17px 10px;}
.programList .divList .infoDetail{font-size:13px;}
.cultureProgram .infoT .mark{width:45px;height:18px;line-height:18px;font-size:10px;}
.programList .slick-prev{left:0;z-index:10;}
.programList .slick-next{right:0;z-index:10;}
.programList .divList .imgW > div{height:157px;}
@media screen and (min-width:320px) and (max-width:480px){
.programList .divList.slick-current .draw{color: #fbac4d;}
.programList .divList.slick-current .draw::before, .programList .divList.slick-current .draw::after {width: 100%;height: 100%;}
.programList .divList.slick-current .draw::before {border-top-color: #fbac4d;border-right-color: #fbac4d;transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;}
.programList .divList.slick-current .draw::after {border-bottom-color: #fbac4d;border-left-color: #fbac4d;transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;}
.programList .divList.slick-current .meet{color: #fbac4d;}
.programList .divList.slick-current .meet::before {border-top-color: #fbac4d;border-right-color: #fbac4d;}
.programList .divList.slick-current .meet::after {border-bottom-color: #fbac4d;border-left-color: #fbac4d;transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;}
.programList .divList.slick-current > a:hover{-webkit-transition:none!important;transition:none!important}
.programList .divList.slick-current > a:hover .draw::before, .programList .divList > a:hover .draw:after{width: 100%;height: 100%;}
.programList .divList.slick-current > a:hover .draw::before {border-top-color:#fbac4d;border-right-color:#fbac4d;transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;}
.programList .divList.slick-current > a:hover .draw::after {border-bottom-color:#fbac4d;border-left-color:#fbac4d;transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;}
.programList .divList.slick-current > a:hover .meet{color:#fbac4d;}
.programList .divList > a:hover{-webkit-transition:none!important;transition:none!important}
.programList .divList > a:hover .draw::before, .programList .divList > a:hover .draw:after{width: 100%;height: 100%;}
.programList .divList > a:hover .draw::before {border-top-color:#d2d2d2;border-right-color:#d2d2d2;transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;}
.programList .divList > a:hover .draw::after {border-bottom-color:#d2d2d2;border-left-color:#d2d2d2;transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;}
.programList .divList > a:hover .meet{color:#d2d2d2;}
.meet::after {top: 0;left: 0;}
.programList .divList > a:hover .meet::before {border-top-color:#d2d2d2;border-right-color:#d2d2d2;}
.programList .divList > a:hover .meet::after {border-bottom-color:#d2d2d2;border-left-color:#d2d2d2;transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;}
}
.slick-list{height:307px;}
.cultureProgram .moreView{display:block;position:static;width:60px;height:29px;margin:30px auto 0;line-height:29px;background-color:#f9f9f9;font-size:12px;z-index:20;}

/* Contents6 */
.contents6 > div{width:auto;margin:0 10px;padding:17px 0 15px;}
.btmLink > div{position:relative;height:43px;border:1px solid #8c909c;}
.btmLink .goTo{display:block;position:relative;padding:12px 17px;color:#ccc;font-size:13px;}
.btmLink .goTo:before{position:absolute;top:18px;right:24px;width:13px;height:8px;background: url(../../../../image/ko/local/main/linkArrowM.png) no-repeat right center;background-size: 13px 8px;transition: transform .3s ease,-webkit-transform .3s ease;content: '';}
.btmLink.on .goTo:before{transform:rotate(-180deg);-webkit-transform: rotate(-180deg);}
.btmLink ul{display:none;position:absolute;left:0;bottom:44px;width:100%;padding:10px 0 14px;text-align:center;background-color:#595e70;border:1px solid #8c909c;border-bottom:none;box-sizing:border-box;z-index:30;}
.btmLink ul > li{display:block;float:none;width:auto;height:auto;margin:5px 18px 0;border:none;}
.btmLink ul > li a{padding:0;text-align:left;background:none;font-size:13px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.btmLink ul > li:hover{border:none;}
.btmLink ul > li a:hover{color:#fff;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;background:none;}

/* Footer */
#divFooter .banner > div{width:auto;margin:0 10px;padding:22px 0;}
.footer > div{width:auto;margin:0 10px;}
.banner h2{display:none;}
.banner .btnW{top:26px;left:0;}
.bannerListW{padding:0 0 0 70px;}
.footer{padding:21px 0 45px;}
.footerMenu > ul{text-align:center;}
.footerMenu > ul > li{display:inline-block;float:none;}
.footerMenu > ul > li a{font-size:12px;}
.footerInfo ul li{display:block;width:auto;margin-top:10px;line-height:16px;font-size:12px;color:#222;}
.footerInfo ul li:first-child{margin-top:0;}
.footerInfo ul li span{font-weight:normal;color:#666;}
.footerInfo ul li .hide{display:none;} 
.footerInfo ul li .block{display:block;} 
.footer .copyright{font-size:11px;text-align:center;}
#divFooter .btnTop{display:none;}
.bannerList > ul > li{width:12.25%;margin-right:5px;padding-right:5px;background: url(../../../../image/ko/local/bannerBar.png) no-repeat right center;background-size: 1px 27px;}
.bannerList > ul > li img{width:auto;height:20px;}
