@charset "utf-8";

div#divHeader{padding-top:85px;}
.headerTop{height:57px;background:url(../../../../image/ko/local/topBgM.jpg) no-repeat center center;background-size:767px 57px;}
.headerTop .header1{width:auto;height:57px;margin:0 10px;}
#divTopMenu{width:auto;}
#divTopMenu > ul{display:none;}
#divTopMenu .allMenuBtn{width:19px;height:17px;margin-top:19px;background-size:19px 17px;}
.headerBtm{overflow:visible;border-bottom:none;}
.headerBtm > div{width:auto;}
.headerBtm h2.logo{top:-134px;left:10px;width:83px;height:68px;}
#globalMenu{margin-top:-112px;margin-right:10px;padding:0;}
#globalMenu > ul{margin-top:0;}
#globalMenu > ul.log{margin-top:0;}
#globalMenu > ul.log > li:first-child{float:left;}
#globalMenu > ul > li.easyView{display:none;}
.headerTop .header1 h1.logo{display:none!important;}
.headerTop .header1 .topSrch{display:none!important;float:left;margin-top:12px;background-size:21px 21px;}
.headerBtm{height:50px;margin-bottom:0;padding:22px 0;}
#divSearch{width:auto;height:43px;margin:0;border:3px solid #2c70c7;}
.search .searchBox input[type="text"]{height:43px;font-size:14px;}
.search .searchBox{padding:0 80px 0 13px;}
.search .searchBtn{width:45px;height:43px;}
.headerTop .topSrchW{height:76px;}
.headerTop .topSrchW.on{top:57px;}
.topSrch form fieldset label{display:none;}
.topSrch form fieldset{width:auto;margin:0 10px 0 0;padding:20px 0;}
.topSrch p.searchBox{padding: 0 108px 0 14px;}
.topSrch .topSrchInput{height:29px;font-size:14px;}
.topSrch .btnInsideSearch{width:70px;padding:5px 0;font-size:13px;top:25px;right:23px;}
.topSrch .close{right:0;top:30px;}
.topSrch .close img{width:11px;height:11px;}

/* 요약정보 */
.divMyMenu .myMenu{top:-57px;z-index:200;}
.myMenu > div{margin-right:0;padding:24px 24px 37px 24px;}
.myMenu .myInfo{float:none;width:auto;margin:0 8px;}
.myMenu ul.myMenuList{float:none;width:auto;margin-top:20px;}
.myMenuList li{width:49%;margin-bottom:10px;}
.myMenuList li:nth-child(2n+1){margin-left:0;}

@media screen and (min-width:320px) and (max-width:565px){
	.myMenuList li{width:48.1%}
}


/* 전체메뉴 */
.wholeMenu{display:block!important;right:-100%;background:none;background:url(../../../../image/ko/local/bgShadow.png) repeat 0 0;}
.wholeMenu > div{width:100%;height:100%;margin:0;padding:0;background-color:#f3f4f4;}
.wholeMenu > div h2{display:none;}
.wholeMenu > div > div{height:100%;margin-top:0;margin-left:0;background-color:#f3f4f4}
.wholeMenu > div > div .mobileTop{display:block;padding:15px 0 17px;color:#fff;font-size:16px;background-color:#035691;}
.wholeMenu > div > div .mobileTop p{display:inline-block;margin:0 12px;padding-left:19px;font-size:12px;background:url(../../../../image/ko/local/welcomeTbg.png) no-repeat left center;background-size:11px 14px;}
.wholeMenu > div > div > ul{position:relative;min-height:610px;background-color: #f3f4f4;overflow:visible;}
.wholeMenu > div > div > ul > li{float:none;width:auto!important;margin:0;}
.wholeMenu > div > div > ul > li > p{width:106px;height:76px;cursor:pointer;}
.wholeMenu > div > div > ul > li.on > p{background-color:#fff!important;}
.wholeMenu > div > div > ul > li.on > p .txt{background-color:#fff!important;}
.wholeMenu > div > div > ul > li > p .txt{height:auto;padding-top:50px!important;line-height:18px;color:#303030!important;font-size:14px;background:none;background-repeat:no-repeat;}
.wholeMenu > div > div > ul > li.wholeMenu1 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco1.png);background-size:39px 22px;background-position:center 15px;}
.wholeMenu > div > div > ul > li.wholeMenu2 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco2.png);background-size:26px 33px;background-position:center 10px;}
.wholeMenu > div > div > ul > li.wholeMenu3 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco3.png);background-size:34px 28px;background-position:center 14px;}
.wholeMenu > div > div > ul > li.wholeMenu4 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco4.png);background-size:34px 28px;background-position:center 10px;}
.wholeMenu > div > div > ul > li.wholeMenu5 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco5.png);background-size:35px 27px;background-position:center 19px;}
.wholeMenu > div > div > ul > li.wholeMenu6 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco6.png);background-size:34px 33px;background-position:center 10px;background-color:#f3f4f4;}
.wholeMenu > div > div > ul > li.wholeMenu7 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco7.png);background-size:32px 31px;background-position:center 13px;background-color:#f3f4f4;}
.wholeMenu > div > div > ul > li.wholeMenu8 > p .txt{background-image:url(../../../../image/ko/local/wholeMenuIco8.png);background-size:27px 27px;background-position:center 15px;background-color:#f3f4f4;}
.wholeMenu > div > div > ul > li .mobileTxt{display:block;padding:20px 0 10px;color:#2b2b2b;font-size:16px;font-family:NotoSansKRM;border-bottom:2px solid #00538e;}
.wholeMenu > div > div > ul > li > div{display:none;position:absolute;left:106px;top:0;right:0;height:100%;margin:0;padding:0 30px 0 27px;background-color:#fff;z-index:50;}
.wholeMenu > div > div > ul > li > div > ul{border-bottom:1px solid #d7d7d7;}
.wholeMenu > div > div > ul > li.on > div{display:block;}
.wholeMenu .list > ul > li{margin-top:0;border-top:1px solid #dcdcdc;}
.wholeMenu .list > ul > li:first-child{border-top: none;}
.wholeMenu .list > ul > li > ul > li{margin-top:7px;padding-left:0;background:none;}
.wholeMenu .list > ul > li > ul > li:first-child{margin-top:0;}
.wholeMenu .list > ul > li > ul > li > a{font-size:14px;color:#909090;}
.wholeMenu .list > ul > li > ul > li a:hover{text-decoration:none;}
.wholeMenu > div > div > ul > li > div > ul > li > p{position:relative;padding:13px 20px 14px;color:#555!important;font-size:15px;cursor:pointer;}
.wholeMenu > div > div > ul > li > div > ul > li > p .arrow{display:block;position:absolute;right:7px;top:50%;width:6px;height:11px;margin-top:-5px;background-image:url(../../../../image/ko/local/menuArrowSprite.png);background-repeat:no-repeat;background-position:0 0;background-size: 200% auto!important;-webkit-transition:background-position .25s ease-in-out;transition:background-position .25s ease-in-out;}
.wholeMenu > div > div > ul > li > div > ul > li.on > p .arrow{background-position: right 0;-webkit-transition:background-position .25s ease-in-out;transition:background-position .25s ease-in-out;}
.wholeMenu > div > div > ul > li > div > ul > li > ul{display:none;padding:18px 20px 20px;border-top:1px solid #dcdcdc;}
.wholeMenu > div .close{width:15px;height:16px;top:21px;right:13px;background:url(../../../../image/ko/local/menuClose.png) no-repeat 0 0;background-size:15px 16px;}

/* Contents */
#divContents{width:auto;margin:0;}
#divContent{width:auto;margin:0 10px;}

/* subTitle */
.headerBtm{height:auto;padding:0;}
.headerBtm > div{height:auto;background:none;border-bottom:none;}
.divSubTitle{padding:16px 0}
.divSubTitle #divTitle{font-size:20px;}
#divLocation{display:none;}

/* TabMenu */
#divTabMenu{height:41px;width:auto;margin:0 0 20px;}
#divTabMenu > div{height: 41px;position: relative;overflow: hidden;padding: 0 40px;margin-right: 0;margin-left: 0;background-color: #ebebeb;}
#divTabMenu2{width:auto;margin:20px 0;}
#divTabMenu2 > div{position: relative;padding: 0 40px;margin-right: 0;margin-left: 0;}
#divTabMenu2 ul li a{height:46px;line-height:44px;}
#divTabMenu2 ul li.selected a{height:42px;margin-top:0;}
#divTabMenu2 .mTSWrapper{height:46px;top:-2px;}
/* Quick Menu */
#divQuick{display:none;}

/* Footer */
#divFooter .banner > div{width:auto;margin:0 10px;padding:22px 0;}
.footer > div{width:auto;margin:0 10px;}
.banner h2{display:none;}
.banner .btnW{top:26px;left:0;}
.bannerListW{padding:0 0 0 70px;}
.footer{padding:21px 0 45px;}
.footerMenu > ul{text-align:center;}
.footerMenu > ul > li{display:inline-block;float:none;}
.footerMenu > ul > li a{font-size:12px;}
.footerInfo ul li{display:block;width:auto;margin-top:10px;line-height:16px;font-size:12px;color:#222;}
.footerInfo ul li:first-child{margin-top:0;}
.footerInfo ul li span{font-weight:normal;color:#666;}
.footerInfo ul li .hide{display:none;} 
.footerInfo ul li .block{display:block;} 
.footer .copyright{font-size:11px;text-align:center;}
#divFooter .btnTop{display:none;}
.bannerList > ul > li{width:12.25%;margin-right:5px;padding-right:5px;background: url(../../../../image/ko/local/bannerBar.png) no-repeat right center;background-size: 1px 27px;}
.bannerList > ul > li img{width:auto;height:20px;}
