@charset "utf-8";

@font-face{
    font-family:"NotoSansKR";
	src:url(../../../../style/font/NotoSansCJKkr-Regular.eot);
    src:local('※'), url(../../../../style/font/NotoSansCJKkr-Regular.woff) format('woff');
}
@font-face{
    font-family:"NotoSansKRM";
	src:url(../../../../style/font/NotoSansCJKkr-Medium.eot);
    src:local('※'), url(../../../../style/font/NotoSansCJKkr-Medium.woff) format('woff');
}
@font-face{
    font-family:"NanumGothic";
	src:url(../../../../style/font/NanumGothic.eot);
    src:local('※'), url(../../../../style/font/NanumGothic.woff) format('woff');
}
@font-face{
    font-family:"NanumGothicEB";
	src:url(../../../../style/font/NanumGothic-ExtraBold.eot);
    src:local('※'), url(../../../../style/font/NanumGothic-ExtraBold.woff) format('woff');
}
@font-face{
    font-family:"OpenSansB";
	src:url(../../../../style/font/OpenSans-Bold.eot);
    src:local('※'), url(../../../../style/font/OpenSans-Bold.woff) format('woff');
}

#divWrapper{position:relative;font-family:NotoSansKR;}

/* Header */
.headerTop{position:relative;height:84px;background:url(../../../../image/ko/local/headerTopBg.jpg) no-repeat #005490;background-position:50% 50%;z-index:200;}
.headerTop.fixed{position:fixed;top:0;left:0;width:100%;}
.headerTop .header1{width:1290px;margin:0 auto;}
.headerTop .header1 h1.logo{position:absolute;left:98px;top:19px;width:166px;height:50px;opacity:0;visibility:hidden;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.headerTop.fixed .header1 h1.logo{opacity:1;visibility:visible;left:128px;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.headerTop .header1 h1.logo a{display:block;width:100%;height:100%;}
.headerTop .header1 h1.logo a img{width:100%;height:100%;}
.headerTop .header1 .topSrch{float:right;margin-top:-57px;overflow:hidden;}
.headerTop .header1 .topSrch > a{display:block;width:28px;height:28px;-webkit-transform:translateY(50px);transform:translateY(50px);background:url(../../../../image/ko/local/topSrch.png) no-repeat 0 0;text-indent:-9999px;opacity:0;-webkit-transition:all .6s ease-in-out;transition:all .6s ease-in-out;background-size:28px 28px;}
.headerTop.fixed .topSrch > a{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:all .6s ease-in-out;transition:all .6s ease-in-out;}
.headerTop .topSrchW{position:absolute;left:0;top:114px;width:100%;height:104px;background-color:#fff;border-bottom: 1px solid #ccc;opacity:0;visibility:hidden;z-index:100;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;-webkit-box-shadow: 0px 2px 6px rgba(0,0,0,0.1);box-shadow: 0px 2px 6px rgba(0,0,0,0.1);}
.headerTop .topSrchW.on{visibility: visible;opacity: 1;top: 84px;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.topSrch form fieldset{position:relative;width:640px;margin:0 auto;padding:30px 0;-webkit-transition:width .2s ease-in-out;transition:width .2s ease-in-out;}
.topSrch form fieldset label{float:left;width:24px;height:24px;margin-top:10px;}
.topSrch form fieldset label img{width:24px;height:24px;}
.topSrch > a > img{width:25px;height:25px;}
.topSrch p.searchBox{padding:0 98px 0 43px;}
.topSrch .topSrchBtn{width:25px;height:25px;}
.topSrch .topSrchInput{width:100%;height:33px;padding-bottom:5px;border:none;border-bottom:1px solid #ccc;vertical-align:middle;font-size:15px;font-family:NotoSansKR;}
.topSrch .btnInsideSearch{position:absolute;right:0;top:35px;width:84px;padding:8px 0;color:#fff;text-align:center;border:none;border-radius: 100px;background-color:#035691;cursor:pointer;font-size:14px;line-height: 20px;font-family:NotoSansKR;}
.topSrch .btnInsideSearch > span{display:inline-block;}
.topSrch .btnInsideSearch:after{display:inline-block;position:relative;width:17px;height:5px;top: -2px;margin-left: -20px;content: '';opacity:0;background:url(../../../../image/ko/local/whiteArrow.png);transition: all .3s ease;}
.topSrch .btnInsideSearch:hover{background:url(../../../../image/ko/local/mOver.png) #035691 repeat;transition:all .3s ease-in-out}
.topSrch .btnInsideSearch:hover:after{opacity:1;margin-left:7px;}
.topSrch .close{position:absolute;right:-135px;top:44px;}
#divTopMenu{width:1200px;margin:0 auto;}
#divTopMenu > ul{overflow:hidden;}
#divTopMenu > ul > li{float:left;margin-left:24px;padding-left:24px;background:url(../../../../image/ko/local/topMenuBar.png) no-repeat left center;}
#divTopMenu > ul > li:first-child{margin-left:0;padding-left:0;background:none;}
#divTopMenu > ul > li.topMenu6{margin-left:113px;padding-left:0;background-image:none;}
#divTopMenu > ul > li.topMenu7{background:url(../../../../image/ko/local/topMenuDot.png) no-repeat left center;}
#divTopMenu > ul > li.topMenu8{margin-left:90px;padding-left:35px;background:url(../../../../image/ko/local/mylibBg.png) no-repeat left center;}
#divTopMenu > ul > li > a{display:block;position:relative;padding:27px 0 30px;color:#fff;font-size:18px;}
#divTopMenu > ul > li > a > span{display:inline-block;position:relative;}
#divTopMenu > ul > li > a > span:before{content:'';display:block;position:absolute;right:50.1%;top:-5px;left:50%;height:1px;background-color:#92d1f4;-webkit-transition:right 0.25s ease, left 0.25s ease;-moz-transition:right 0.3s ease, left 0.3s ease;-ms-transition:right 0.3s ease, left 0.3s ease;-o-transition:right 0.3s ease, left 0.3s ease;transition:right 0.3s ease, left 0.3s ease;}
#divTopMenu > ul > li.topMenu6 > a > span:before{content:'';display:block;position:absolute;right:50.1%;top:-5px;left:50%;height:1px;background-color:#fff;-webkit-transition:right 0.25s ease, left 0.25s ease;-moz-transition:right 0.3s ease, left 0.3s ease;-ms-transition:right 0.3s ease, left 0.3s ease;-o-transition:right 0.3s ease, left 0.3s ease;transition:right 0.3s ease, left 0.3s ease;}
#divTopMenu > ul > li.topMenu7 > a > span:before{content:'';display:block;position:absolute;right:50.1%;top:-5px;left:50%;height:1px;background-color:#fff;-webkit-transition:right 0.25s ease, left 0.25s ease;-moz-transition:right 0.3s ease, left 0.3s ease;-ms-transition:right 0.3s ease, left 0.3s ease;-o-transition:right 0.3s ease, left 0.3s ease;transition:right 0.3s ease, left 0.3s ease;}
#divTopMenu > ul > li.topMenu8 > a > span:before{content:'';display:block;position:absolute;right:50.1%;top:-5px;left:50%;height:1px;background-color:#f6d15c;-webkit-transition:right 0.25s ease, left 0.25s ease;-moz-transition:right 0.3s ease, left 0.3s ease;-ms-transition:right 0.3s ease, left 0.3s ease;-o-transition:right 0.3s ease, left 0.3s ease;transition:right 0.3s ease, left 0.3s ease;}
#divTopMenu > ul > li.on > a{background:url(../../../../image/ko/local/menuOn2.png) no-repeat center 100%;}
#divTopMenu > ul > li.topMenu1.on > a{background:url(../../../../image/ko/local/menuOn.png) no-repeat center 100%;}
#divTopMenu > ul > li.topMenu2.on > a{background:url(../../../../image/ko/local/menuOn.png) no-repeat center 100%;}
#divTopMenu > ul > li.topMenu8 > a{color:#f6d15c;}
#divTopMenu > ul > li.on > a > span:before{left:0; right:0;}
#divTopMenu > ul > li > div{display:none;position:absolute;left:0;top:84px;width:100%;height:320px;background:url(../../../../image/ko/local/whiteBg.jpg) no-repeat right 0 #f2f5f9;-webkit-box-shadow: 0px 5px 3px rgba(0,0,0,0.2);box-shadow: 0px 5px 5px rgba(0,0,0,0.2);z-index:200;}
#divTopMenu > ul > li > div > div{position:relative;width:1200px;margin:0 auto;}
#divTopMenu > ul > li > div .menuTit{position:absolute;left:0;top:0;width:250px;height:320px;background-repeat:no-repeat;background-color:#f2f5f9;background-position:6px 108px;}
#divTopMenu > ul > li.topMenu1 > div .menuTit{background-image:url(../../../../image/ko/local/menuTitBg1.png);}
#divTopMenu > ul > li.topMenu2 > div .menuTit{background-image:url(../../../../image/ko/local/menuTitBg2.png);}
#divTopMenu > ul > li.topMenu3 > div .menuTit{background-image:url(../../../../image/ko/local/menuTitBg3.png);}
#divTopMenu > ul > li.topMenu4 > div .menuTit{background-image:url(../../../../image/ko/local/menuTitBg4.png);}
#divTopMenu > ul > li.topMenu5 > div .menuTit{background-image:url(../../../../image/ko/local/menuTitBg5.png);}
#divTopMenu > ul > li.topMenu6 > div .menuTit{background-image:url(../../../../image/ko/local/menuTitBg6.png);}
#divTopMenu > ul > li.topMenu7 > div .menuTit{background-image:url(../../../../image/ko/local/menuTitBg7.png);}
#divTopMenu > ul > li.topMenu8 > div .menuTit{background-image:url(../../../../image/ko/local/menuTitBg8.png);}
#divTopMenu > ul > li > div .menuTit .txtW{height:38px;margin-top:45px;overflow:hidden;}
#divTopMenu > ul > li > div .menuTit .txtW span{display:block;color:#003964;font-size:28px;opacity: 0;-webkit-transform: translateY(70px);transform: translateY(70px);-webit-transition:all .8s ease-in-out;transition:all .8s ease-in-out;}
#divTopMenu > ul > li > div .menuTit.effect .txtW span{-webkit-transform: translateY(0);transform: translateY(0);opacity:1;transition-delay:0;}
#divTopMenu > ul > li.topMenu6 > div .menuTit .txtW span{color:#ee5f4a;}
#divTopMenu > ul > li.topMenu7 > div .menuTit .txtW span{color:#ee5f4a;}
#divTopMenu > ul > li.topMenu8 > div .menuTit .txtW span{color:#f09e00;}
#divTopMenu > ul > li > div .menuList{height:255px;margin-left:240px;padding:45px 54px 20px;background:url(../../../../image/ko/local/menuListBg.jpg) no-repeat right bottom #fff;overflow:hidden;}
#divTopMenu > ul > li.topMenu2 > div .menuList{padding-top:42px;}
#divTopMenu > ul > li > div .menuList > li{float:left;height:230px;margin-left:45px;padding-left:40px;border-left:1px solid #e4e1e2;}
#divTopMenu > ul > li > div .menuList > li:first-child{margin-left:0;padding-left:0;border:none;}
#divTopMenu > ul > li > div .menuList > li p{margin-bottom:14px;color:#4c4c4c;font-size:18px;}
#divTopMenu > ul > li > div .menuList > li > ul{max-width:180px;}
#divTopMenu > ul > li > div .menuList > li > ul > li{margin-top:4px;padding-left:8px;background:url(../../../../image/ko/local/menuListDot.png) no-repeat left 11px;}
#divTopMenu > ul > li > div .menuList > li > ul > li:first-child{margin-top:0;}
#divTopMenu > ul > li > div .menuList > li > ul > li > a{display:block;color:#6f6f6f;font-size:14px;word-break:keep-all}
#divTopMenu > ul > li > div .menuList > li > ul > li > a:hover{text-decoration:underline;}
#divTopMenu > ul > li > div > div .btnClose{display:block;position:absolute;right:0;top:36px;width:30px;height:30px;text-indent:-9999px;background:url(../../../../image/ko/local/menuListClose.png) no-repeat 0 0;}
#divTopMenu .allMenuBtn{display:block;float:right;width:27px;height:21px;margin-top:-54px;text-indent:-9999px;background:url(../../../../image/ko/local/allMenu.png) no-repeat 0 0;background-size:27px 21px;-webkit-transition:margin-right .6s ease-in-out;transition:margin-right .6s ease-in-out;}
/* pc~tablet 사이*/
@media screen and (min-width:1025px) and (max-width:1900px){
	.headerTop .header1 h1.logo{left:40px;}
}
@media screen and (min-width:1740px) and (max-width:1860px){
	.headerTop.fixed .header1 h1.logo{left:60px;}
}
@media screen and (min-width:1670px) and (max-width:1739px){
	.headerTop.fixed .header1 h1.logo{left:30px;}
}
@media screen and (min-width:1025px) and (max-width:1639px){
	.headerTop.fixed .header1 h1.logo{display:none;}
}
@media screen and (min-width:1640px) and (max-width:1669px){
	.headerTop.fixed .header1 h1.logo{left:20px;}
	#divTopMenu{width:auto;margin:0 40px;}
}
@media screen and (min-width:1340px) and (max-width:1639px){
	#divTopMenu{width:auto;margin:0 40px;}
}
@media screen and (min-width:1025px) and (max-width:1339px){
	.headerTop{background-position:56% 50%}
	.headerTop .header1{width:auto;margin:0 20px;}
	#divTopMenu{width:auto;margin:0;}
	#divTopMenu > ul > li{width:10%;margin-left:0;padding-left:0;}
	#divTopMenu > ul > li.topMenu6{width:14%;margin-left:8px;}
	#divTopMenu > ul > li.topMenu7{width:13%;}
	#divTopMenu > ul > li.topMenu8{margin-left:47px;-webkit-transition: margin-left .6s ease-in-out;transition: margin-left .6s ease-in-out;}
	.headerTop.fixed #divTopMenu > ul > li.topMenu6{margin-left:0;-webkit-transition: margin-left .6s ease-in-out;transition: margin-left .6s ease-in-out;}
	.headerTop.fixed #divTopMenu > ul > li.topMenu8{margin-left:15px;-webkit-transition: margin-left .6s ease-in-out;transition: margin-left .6s ease-in-out;}
	#divTopMenu > ul > li > a{text-align:center;}
	.headerTop.fixed #divTopMenu .allMenuBtn{margin-right:40px;}
	#divTopMenu > ul > li > a{padding:27px 0 33px;font-size:16px;}
	#divTopMenu .allMenuBtn{position:relative;z-index:50;}
}
@media screen and (min-width:1025px) and (max-width:1220px){
	#divTopMenu > ul > li > div .menuTit{width:225px;}
	#divTopMenu > ul > li > div .menuTit .txtW span{font-size:24px;}
	#divTopMenu > ul > li > div .menuList{margin-left:212px;}
	#divTopMenu > ul > li > div .menuList > li{margin-left:35px;padding-left:30px;}
}
@media screen and (min-width:1025px) and (max-width:1140px){
	#divTopMenu > ul > li > div .menuTit{width:210px;}
	#divTopMenu > ul > li.topMenu3 > div .menuList > li{margin-left:22px;padding-left:22px;}
	#divTopMenu > ul > li.topMenu4 > div .menuList > li{margin-left:22px;padding-left:22px;}
	#divTopMenu > ul > li > div .menuList{height:275px;padding:45px 20px 0;}
	#divTopMenu > ul > li.topMenu2 > div .menuList{height:278px;}
	#divTopMenu > ul > li > div .menuList > li:first-child{margin-left:0;padding-left:0;border:none;}
}


.headerBtm > div{position:relative;width:1200px;height:130px;margin:0 auto;background:url(../../../../image/ko/local/subTitBg.png) no-repeat 155px 0;}
.headerBtm > div:after{display:block;clear:both;content:''}
.headerBtm h2.logo{position:absolute;left:0;top:21px;width:98px;height:81px;}
.headerBtm h2.logo a{display:block;width:100%;height:100%;}
.headerBtm h2.logo a img{display:block;width:100%;height:100%;}
#globalMenu{float:right;}
#globalMenu > ul{margin-top:46px;overflow:hidden;}
#globalMenu > ul > li{float:left;margin-left:15px;padding-left:12px;background:url(../../../../image/ko/local/globalMbar.png) no-repeat left center;}
#globalMenu > ul > li:first-child{margin-left:0;padding-left:0;background:none;}
#globalMenu > ul > li > a{color:#5a5a5a;font-size:13px;}
#globalMenu > ul > li.summaryInfo{margin-left:0;padding-left:0;background:none;}
/* 로그인 후 css*/
#globalMenu > ul.log{margin-top:32px;}
#globalMenu > ul.log > li:first-child{float:none;margin-top:0;margin-bottom:2px;color:#565656;font-size:13px;text-align:right;line-height:25px;}
#globalMenu > ul.log > li:first-child > p{display:inline-block;margin-right:5px;}
#globalMenu > ul.log > li:first-child > a{display:inline-block;color:#565656}

/* 요약정보 */
#globalMenu .divMyMenu{float:left;}
#globalMenu .myMenuBtn{float:left;width:76px;height:24px;margin-left:10px;padding-left: 0;color:#005490;font-size:13px;font-family:NotoSansKRM;border: 1px solid #3f68a2;text-align: center;line-height: 22px;}
#globalMenu .myMenuBtn span{display:inline-block;padding-left:15px;background:url(../../../../image/ko/local/myMenuIco.png) no-repeat left center;background-size:10px 13px;}
.divMyMenu .myMenu{position:absolute;left:0;top:85px;width:100%;z-index:150;opacity:0;visibility:hidden;-webkit-transform:translateY(30px);transform:translateY(30px);-webkit-transition:all .45s ease-in-out;transition:all .45s ease-in-out;}
.divMyMenu .myMenu.on{opacity:1;visibility:visible;-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:all .45s ease-in-out;transition:all .45s ease-in-out;}
.myMenu > div{position:relative;margin-right:82px;padding:21px 100px 21px 44px;background-color:#d5e8f8;-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.2);box-shadow: 0px 2px 5px rgba(0,0,0,0.2);overflow:hidden;}
.myMenu .myInfo{float:left;width:269px;margin-right:10px;}
.myMenu ul.myMenuList{float:left;width:695px;}
.myMenu .close{display:block;position:absolute;right:20px;bottom:20px;width:32px;height:34px;text-indent:-9999px;background:url(../../../../image/ko/local/myMenuClose.png) no-repeat 0 0;background-size:32px 34px;}
.myInfo p.myId{color:#3c3c3c;font-size:25px;letter-spacing:-0.5px;word-wrap:normal;word-break:keep-all;}
.myInfo p.myId span{color:#0248a1;font-family:NotoSansKRM;}
.myInfo .myMsg{margin-top:5px;margin-bottom:10px;}
.myInfo .myMsg p{padding-left:22px;color:#0379f5;font-size:14px;background:url(../../../../image/ko/local/myMsg.png) no-repeat left center;background-size:18px 13px;}
.myInfo .myMsg p > span{display:inline-block;margin-left:17px;}
.myInfo .infoT{color:#6e6e6e;font-size:14px;letter-spacing:-0.5px}
.myInfo .infoT > span{display:inline-block;min-width:86px;margin-right:15px;font-family:NotoSansKRM;}
.myInfo .infoT > span.date{margin-right:0;font-weight: normal;color: #fe6f61;}
.myMenu .myMenuList{overflow:hidden;}
.myMenuList li{float:left;width:18.7%;height:140px;margin-left:10px;background-color:#fff;border:1px solid #b6d8f4;box-sizing:border-box;}
.myMenuList li:first-child{margin-left:0;}
.myMenuList li .myMenuTit{display:block;margin:0 11px 8px;padding:15px 0 12px;color:#515151;font-size:16px;text-align:center;border-bottom:1px solid #565656;}
.myMenuList li .myMenuStatus{display:block;margin:-2px 11px 0;color:#8c8c8c;font-size:14px;text-align:center;}
.myMenuList li .myMenuStatus span{display:inline-block;margin-right:2px;color:#fe6f61;font-weight:bold;font-size:18px;}
/* pc~tablet 사이*/
@media screen and (min-width:1025px) and (max-width:1260px){
	.myMenu > div{margin-right:0;padding:21px 65px 21px 30px;}
	.myInfo p.myId{width:259px;font-size:20px;}
	.myMenu ul.myMenuList{width:70%;}
}
@media screen and (min-width:1025px) and (max-width:1135px){
	.myMenu .myInfo{width:30%;}
	.myMenu ul.myMenuList{width:68%;}
	.myMenuList li{width:19%;margin-left:5px;}
	.myMenuList li .myMenuStatus span{font-size:16px;}
}

/* 간단보기 */
#globalMenu > ul > li.easyView{margin-left:20px;width:76px;height:24px;padding-left:0;border:1px solid #ff6e60;text-align:center;line-height:22px;background:none;}
#globalMenu > ul.log > li.easyView{margin-left:4px;}
#globalMenu ul li.easyView > a{display:inline-block;padding-left:18px;color:#ff6e60;font-size:13px;font-family:NotoSansKRM;background:url(../../../../image/ko/local/easyView.png) no-repeat left center;}
#globalMenu .easyViewW{position:fixed;left:0;top:0;width:100%;height:100%;z-index:210;background:url(../../../../image/ko/local/bgShadow.png) repeat;overflow-y:auto;opacity:0;visibility:hidden;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
#globalMenu .easyViewW > div{width:1200px;margin:0 auto;-webkit-transform:translateY(60px);transform:translateY(60px);-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.easyViewW > div > div{position:relative;width:908px;height:685px;margin:106px auto 50px;background-color:#fff;}
#globalMenu > ul > li.easyView.on .easyViewW{opacity:1;visibility:visible;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
#globalMenu > ul > li.easyView.on .easyViewW > div{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.easyViewW h2{padding-top:99px;}
.easyViewW .cont{margin-top:35px;}
.easyViewW .easySrch{position: relative;width: 586px;height: 57px;margin: 0 auto;border: 5px solid #2c70c7;}
.easyViewW .easySrch > div{position:relative;}
.easyViewW .easySrch .searchBox{padding: 0 90px 0 25px;}
.easyViewW .easySrch input[type="text"]{width: 100%;border: none;height: 57px;color: #525253;font-size: 16px;font-family: NotoSansKR;}
.easyViewW .easySrch .searchBtn{position:absolute;right:0;top:0;width: 59px;height: 57px;}
.easyViewW .menu ul{width:596px;height:253px;margin:46px auto 0;overflow:hidden;}
.easyViewW .menu ul li{float:left;width:118px;height:126px;margin:0 1px 1px 0;}
.easyViewW .menu ul li > a{display:block;height:100%;color:#242424;font-size:14px;background-color:#edf0f4;text-align:center;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.easyViewW .menu ul li > a:hover{background:url(../../../../image/ko/local/easyViewOver.jpg) no-repeat 0 0;color:#fff;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.easyViewW .menu ul li span{display:inline-block;padding-top:80px;color:#242424;font-size:14px;background-repeat:no-repeat;background-position:center 31px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.easyViewW .menu ul li > a:hover span{color:#fff;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.easyViewW .menu ul li.easyView1 span{background-image:url(../../../../image/ko/local/easyViewIco1.png);}
.easyViewW .menu ul li.easyView2 span{background-image:url(../../../../image/ko/local/easyViewIco2.png);}
.easyViewW .menu ul li.easyView3 span{background-image:url(../../../../image/ko/local/easyViewIco3.png);}
.easyViewW .menu ul li.easyView4 span{background-image:url(../../../../image/ko/local/easyViewIco4.png);background-position:center 25px;}
.easyViewW .menu ul li.easyView5 span{background-image:url(../../../../image/ko/local/easyViewIco5.png);}
.easyViewW .menu ul li.easyView6 span{background-image:url(../../../../image/ko/local/easyViewIco6.png);}
.easyViewW .menu ul li.easyView7 span{background-image:url(../../../../image/ko/local/easyViewIco7.png);}
.easyViewW .menu ul li.easyView8 span{background-image:url(../../../../image/ko/local/easyViewIco8.png);}
.easyViewW .menu ul li.easyView9 span{background-image:url(../../../../image/ko/local/easyViewIco9.png);}
.easyViewW .menu ul li.easyView10 span{background-image:url(../../../../image/ko/local/easyViewIco10.png);}
.easyViewW .close{display:block;position:absolute;right:34px;top:28px;width:30px;height:30px;text-indent:-9999px;background:url(../../../../image/ko/local/easyViewClose.png) no-repeat 0 0;}
@media screen and (min-width:1025px) and (max-width:1260px){
	.headerBtm > div{width:auto;margin:0 20px;}
	#globalMenu .easyViewW > div{width:auto;margin:0 40px;}
	#divTopMenu > ul > li > div > div{width:auto;margin:0 20px;}
}
/* 전체메뉴 */
.bgShadow{display:none;position: fixed;left:0;top:0;width: 100%;height:100%;background:url(../../../../image/ko/local/bgShadow.png) repeat 0 0;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;z-index:220;}
.bgShadow.on{display:block;}
.wholeMenu{display:none;position:fixed;right:0;top:0;width:100%;height: 100%;background-color:#003471;z-index:230;overflow-y:auto;}
.wholeMenu > div{position:relative;width:1200px;margin:90px auto 0;padding-bottom:45px;}
.wholeMenu > div h2{padding-top:14px;color:#aab8c6;font-size:36px;font-family:NotoSansKR;font-weight:normal;text-align:center;background:url(../../../../image/ko/local/allMenuLine.png) no-repeat center 0;}
.wholeMenu > div > div{margin-top:60px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.wholeMenu > div > div .mobileTop{display:none;}
.wholeMenu > div > div > ul{overflow:hidden;}
.wholeMenu > div > div > ul > li{float:left;width:11.5%;margin-left:8px;}
.wholeMenu > div > div > ul > li.wholeMenu3{width:12.8%;}
.wholeMenu > div > div > ul > li.wholeMenu4{width:13%;}
.wholeMenu > div > div > ul > li:first-child{margin-left:0;}
.wholeMenu > div > div > ul > li > p .txt{display:block;width:100%;height:46px;color:#eee;font-size:17px;text-align:center;line-height:46px;background-color:#10417c;}
.wholeMenu > div > div > ul > li.wholeMenu6 p .txt{color:#fe6f61;background-color:#00285c;}
.wholeMenu > div > div > ul > li.wholeMenu7 p .txt{color:#fe6f61;background-color:#00285c;}
.wholeMenu > div > div > ul > li.wholeMenu8 p .txt{color:#feb814;background-color:#00285c;}
.wholeMenu > div > div > ul > li .mobileTxt{display:none;}
.wholeMenu > div > div > ul > li > div{margin-top:24px;}
.wholeMenu > div > div > ul > li > div > ul > li > p{color:#58b8de;font-size:15px;font-family:NotoSansKRM;}
.wholeMenu > div > div > ul > li.wholeMenu6 > div > ul > li > p{color:#c79999;}
.wholeMenu > div > div > ul > li.wholeMenu7 > div > ul > li > p{color:#c79999;}
.wholeMenu > div > div > ul > li.wholeMenu8 > div > ul > li > p{color:#c7b299;}
.wholeMenu .list > ul > li{margin-top:34px;}
.wholeMenu .list > ul > li:first-child{margin-top:0;}
.wholeMenu .list > ul > li > ul > li{margin-top:3px;padding-left:8px;background:url(../../../../image/ko/local/dot.png) no-repeat left 11px;}
.wholeMenu .list > ul > li > ul > li:first-child{margin-left:0;}
.wholeMenu .list > ul > li > ul > li a{display:inline-block;color:#ccc;font-size:14px;line-height:20px;letter-spacing:-.5px;word-break:keep-all;word-wrap:normal}
.wholeMenu .list > ul > li > ul > li a:hover{text-decoration:underline;}
.wholeMenu > div > div > ul > li > div > ul > li > p .arrow{display:none;}
.wholeMenu > div .close{display:block;position:absolute;right:0;top:-40px;width:35px;height:35px;text-indent:-9999px;background:url(../../../../image/ko/local/allMenuClose.png) no-repeat 0 0;}
@media screen and (min-width:1025px) and (max-width:1260px) {
	.wholeMenu > div{width:auto;margin:40px 20px 0;}
	.wholeMenu > div > div > ul > li{width:11%;}
	.wholeMenu > div .close{top:0;}
}
@media screen and (min-width:1025px) and (max-width:1160px){
	.wholeMenu .list > ul > li > ul > li a{word-break:break-word;}
}

#divContentsW{position:relative;font-family:NanumBarunGothic,NanumGothic,san-serif}
#divContents{position:relative;width:1200px;margin:0 auto;padding-bottom:100px;}
/* divContent */
#divContent{width:1200px;min-height:550px;}
/* pc~tablet 사이 사이즈 */
@media screen and (min-width:1025px) and (max-width:1260px) {
	#divContents{width:auto;margin:0 20px;}
	#divContent{width:auto;}
	
}

/* 탑메뉴 - bgShadow*/
.bgShadow2{display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:url(../../../../image/ko/local/bgShadow.png) repeat;z-index:100;}
.bgShadow2.on{display:block;}

/* 서브 타이틀 영역 */
.divSubTitle{max-width:605px;margin:0 auto;padding-top:23px;text-align:center;}
.divSubTitle #divTitle{color:#333;font-size:32px;font-family:NotoSansKR;font-weight:normal;text-align:center;}
#divLocation{margin-top:10px;text-align:center;}
#divLocation > ul{overflow:hidden;font-size:0;}
#divLocation > ul > li{display:inline-block;margin-left:14px;padding-left:15px;color:#6f7581;font-size:14px;background-image:url(../../../../image/ko/local/locationArrow.png);background-repeat:no-repeat;background-position:left center;}
#divLocation > ul > li:first-child{margin-left:0;padding-left:0;background:none;}
#divLocation > ul > li > a{display:inline-block;color:#6f7581;font-size:14px;}
#divLocation > ul > li:first-child > a{display:block;width:20px;height:16px;text-indent:-9999px;background:url(../../../../image/ko/local/home.png) no-repeat 0 0;}

/* divTabMenu */
#divTabMenu{width:1200px;height:40px;margin:40px 0 20px 0;border-bottom:1px solid #7e7e7e;padding:0}
#divTabMenu p{display:none}
#divTabMenu > div{height:40px;padding:0;background-color:#fff}
#divTabMenu ul li{float:left;min-width:113px;height: 39px;margin:0;border:1px solid #d8d8d8;border-left:none;border-bottom:none;background-color:#fff;font-size:16px;line-height:39px;text-align:center;}
#divTabMenu ul li:first-child{border-left:1px solid #d8d8d8}
#divTabMenu ul li.selected{border:1px solid #7e7e7e;border-bottom:1px solid #fff;}
#divTabMenu ul li a{display:block;min-width:65px;padding:0 13px;letter-spacing:-1px;background-color:#f6f6f6;color:#888;font-family:NotoSansKR;font-size:16px;}
#divTabMenu ul li.selected a{background-color:#fff;color:#333;}
#divTabMenu > div.long{padding:0 40px;}
/* pc~tablet 사이 사이즈 */
@media screen and (min-width:1025px) and (max-width:1360px) {
	#divTabMenu{width:auto;}
}
/*TabMenu2 */
#divTabMenu2{height:44px;margin-top:30px;margin-bottom:20px;padding:0;background-color:#fff;border-top:2px solid #c9c9c9;border-bottom:1px solid #c9c9c9;}
#divTabMenu2 > div{height:44px;background-color:#fff;}
#divTabMenu2 ul li{float: left; margin:0; border-left:none; border-bottom:none;  font-size:16px; line-height:40px; text-align:center}
#divTabMenu2.wd ul li{width:109px;}
#divTabMenu2 ul li a{display: block;height: 42px;padding:0 15px;line-height: 43px; text-align: center; font-size: 15px; color: #6a6a6a;font-family:NotoSansKR;}
#divTabMenu2 ul li.selected a{height:42px;margin-top:-2px;border-top:2px solid #005490;border-bottom:2px solid #005490;color: #005490;}
/* pc~tablet 사이 사이즈 */
@media screen and (min-width:1025px) and (max-width:1360px) {
	#divTabMenu2{width:auto;}
}

/* Quick Menu */
#divQuick{position:fixed;top:0;right:-145px;width:145px;height:100%;font-family:NotoSansKR;background-color:#e8e8e8;z-index:210;}
#divQuick .quickMenu{background-color:#e8e8e8;overflow: auto;}
#divQuick h2{height:231px;text-indent:-9999px;background:url(../../../../image/ko/local/quickLogoBg.png) no-repeat 0 0 #003c66;font-weight:normal;text-align:center;color:#fff;font-size:18px;font-family:Lato;}
#divQuick .divMenuList{padding:28px 0 0;}
#divQuick .divMenuList > div{height:100%;}
#divQuick .menuList1{margin:0 18px 25px;padding-bottom:30px;border-bottom:1px solid #b6b6b6;}
#divQuick .menuList1 li{margin-top:7px;}
#divQuick .menuList1 li:first-child{margin-top:0;}
#divQuick .menuList2{margin:0 18px 35px;}
#divQuick .menuList2 li{margin-top:7px;}
#divQuick .menuList2 li:first-child{margin-top:0;}
#divQuick .menuList1 li a{color:#29597c;font-size:14px;letter-spacing:-1px}
#divQuick .menuList2 li a{display:block;word-break:keep-all;word-wrap:normal;color:#303030;font-size:14px;letter-spacing:-1px}
#divQuick .quickOpen{position:absolute;top:50%;left:-27px;margin-top:-48px;color:#252b3a;font-size:13px;font-family:NotoSansKR;}
#divQuick .quickClose{display:none;position:absolute;top:50%;left:-27px;margin-top:-48px;color:#252b3a;font-size:13px;font-family:NotoSansKR;}
#divQuick .myMenu ul li{position:relative;padding:12px 25px 12px 17px;background-color: #cfcfd2;border-top: 1px solid #dbdbdb;}
#divQuick .myMenu ul li > a{display:block;color: #555;font-size:13px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#divQuick .myMenu ul li .delete{display:block;position:absolute;right:10px;top:50%;width:9px;height:9px;margin-top:-5px;padding:0;text-indent:-9999px;background:url(../../../../image/ko/local/delete.png) no-repeat 0 0;}
#divQuick .addMenu{margin:55px 0 20px;}
#divQuick .addMenu a{display:block;width:103px;height:36px;margin:0 auto;color:#fff;font-size:14px;text-align:center;line-height:35px;background-color:#2c70c7;border-radius:3px}


/* pc~tablet 사이*/
@media screen and (min-width:1381px) and (max-width:1400px){
	.bannerListW{padding: 0 33px 0 185px;}
}
@media screen and (min-width:1261px) and (max-width:1380px){
	.bannerListW{padding: 0 96px 0 185px;}
}
@media screen and (min-width:1025px) and (max-width:1260px){
	#divFooter .banner > div{width:auto;margin:0 106px 0 40px;}
	.footer > div{width:auto;margin:0 40px;}
}
@media screen and (min-width:1025px) and (max-width:1260px){
	#divFooter .btnTop{right:20px;}
	.bannerList > ul > li{width:5.1%;}
}
@media screen and (min-width:1025px) and (max-width:1130px){
	#divFooter .btnTop{right:20px;}
}


