<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.lib.dao.AdminDAO">

<insert id="addBookProc" parameterType="newBookDTO">
insert into book (bookTitle, author, type, publisher, pubYear, imagePath, bookQty)
values(#{bookTitle}, #{author}, #{type}, #{publisher}, #{pubYear}, #{imagePath}, #{bookQty})
</insert>

<select id="selectBookInfo" parameterType="newBookDTO" resultType="newBookDTO">
select bookCode, bookQty from book where bookTitle=#{bookTitle}	
</select>

<insert id="addBookProc2" parameterType="newBookDTO">
insert into bookstatus (bookNo, bookCode, rentStatus, reserveStatus) values(#{bookNo}, #{bookCode}, 2, 0)
</insert>

</mapper>
