<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.lib.dao.BookDetailDAO">

<select id="bookPage" resultType="book">
		select b.bookTitle, b.author, b.type, b.publisher, 
		b.pubYear, b.imagePath, bst.bookNo, bst.rentStatus 
		from book b
        inner join bookstatus bst on b.bookCode = bst.bookCode
        where b.bookTitle =?;
	</select>

</mapper>
